.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto; 
}


.body-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main-content {
    flex: 1; 
    padding: var(--spacing-xl); 
    background-color: var(--color-background-app); 
    overflow-y: auto; 
}
